<div>
</div>





<div>
    <h1>Real-Time Chat With the Organizers</h1>
  
    <div>
      <input [(ngModel)]="newMessage" placeholder="Enter Your Message" />
      <button (click)="sendMessage()">Send Message</button>
    </div>

    
    
    <div>
      <h2>Messages:</h2>
      <ul>
        @for (message of messageData; track $index) {
          <li>{{message.sender}}: {{message.text}}</li>
        }
      </ul>
    </div>
    
    <div>
      <button (click)="saveMessage()">saveMessage</button>
    </div>
  </div>
  