<div class="flex flex-col md:flex-row items-center justify-between mb-9 w-full">


  <button (click)="CreateEvent()" class="bg-blue-500 hover:bg-blue-600 active:bg-blue-700 p-3 px-6 rounded-full text-white font-semibold shadow-lg">
    Create Event
  </button>
  
    <button (click)="viewEvents()" class="bg-green-500 hover:bg-green-600 active:bg-green-700 p-3 px-6 rounded-full text-white font-semibold shadow-lg">
      View Events
    </button>
  
  <button (click)="EventsBooked()" class="bg-purple-500 hover:bg-purple-600 active:bg-purple-700 p-3 px-6 rounded-full text-white font-semibold shadow-lg">
    Events Booked
  </button>
</div>

<div class="container mx-auto">
    <h2 class="text-center my-4 text-2xl font-semibold">Events Organized By the Team:</h2>
    <div *ngIf="noeventmessage" class="bg-blue-100 border border-blue-300 text-blue-700 p-4 rounded-lg mb-4 shadow-md">
      {{ noeventmessage }}
    </div>
    
    <input type="text" [(ngModel)]="search_filter" (input)="filter_events()" placeholder="Search events..." class = 'p-4 mb-6 rounded-md hover:scale-105 shadow-lg'/>
    <div *ngIf="events?.length > 0" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div *ngFor="let event of filtered_events; let i =index" class="bg-white rounded-xl shadow-lg overflow-hidden transform hover:scale-105 transition duration-300">
        <div class="p-6">
            <h5 class="text-xl font-bold text-blue-600"><strong>{{i+1}}.Event Name: </strong>{{ event.name }}</h5>
            <h3 class="text-gray-600">Date of Event: {{ formatDate(event.Event_date) }}</h3>
            <h3 class="text-gray-600 my-2"><strong>Event-Genre: </strong>{{ event.type }}</h3>
            <h3 class="text-gray-600"><strong>Price: </strong>{{ event.ticket_price }}</h3>
            <h3 class="text-gray-600"><strong>Venue: </strong> {{event.venue}} </h3>
            <h3 class="text-gray-600"><strong>description: </strong> {{event.description}} </h3>
            <h3 class="text-gray-600"><strong>Tickets Available: </strong> {{event.avail_ticket}} </h3>
            <div *ngIf="event.image_url" class="h-64 overflow-hidden">
                <img [src]="event.image_url" alt="Event Image" class="w-full h-full object-cover">
            </div>
            <div class="p-6">
              <button (click)="delete_event(event.Event_id)" class="bg-red-500 text-white font-semibold py-2 px-4 rounded hover:bg-red-600 transition duration-300">Delete</button>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showEvents && eve?.length">
    <h2 class="text-2xl font-semibold mb-4">Booked Events</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div *ngFor="let event of eve" class="border p-4 rounded-lg shadow-md bg-white rounded-xl shadow-lg overflow-hidden transform hover:scale-105 transition duration-300">
        <p><strong>Event Name:</strong> {{ event.name }}</p>
        <p><strong>Organised By: </strong>{{event.org}}</p>
        <p><strong>Available Tickets:</strong> {{ event.avail_ticket }}</p>
      </div>
    </div>
  </div>


 