<div class="container mx-auto">
    <button (click)="viewEvents()" class="bg-pink-500 hover:bg-pink-600 active:bg-pink-700 p-2 px-4 rounded-lg text-white font-semibold shadow-lg transition duration-200 flex items-center">View Events</button>
    <h2 class="text-center my-4 text-2xl font-semibold">Events to Attend</h2>
  
    <div *ngIf="noeventmessage" class="bg-blue-100 border border-blue-300 text-blue-700 p-4 rounded-lg mb-4 shadow-md">
      {{ noeventmessage }}
    </div>
   
    <div *ngIf="events?.length > 0" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 shadow-lg">
      <div *ngFor="let event of events; let i =index" class="bg-white rounded-xl shadow-lg overflow-hidden transform hover:scale-105 transition duration-300">
        <div class="p-6">
          <h5 class="text-2xl font-bold text-blue-600"><strong>{{i+1}}.Event Name: </strong>{{ event.Event_name }}</h5>
          <h3 class="text-gray-700 text-lg"><strong>Organised By:</strong> {{ event.org }}</h3>
          <!-- <h3 class="text-gray-700 text-xl my-2"><strong>Event_id: </strong>{{ event.Event_id }}</h3> -->
          <!-- <h3 class="text-gray-700 text-xl"><strong>Booking_id:</strong>{{ event.Booking_id }}</h3> -->
          <h3 class="text-gray-700 text-lg"><strong>Ticket_id:</strong>{{ event.Ticket_id}}</h3>
          <h3 class="text-gray-700 text-lg"><strong>Booking Date: </strong>{{formatDate(event.date) }}</h3>
          <h3 class="text-gray-700 text-lg"><strong>Event Date: </strong>{{ formatDate(event.Event_Date) }}</h3>
          <h3 class="text-gray-700 text-lg"><strong>Tickets Purchased:</strong> {{event.Ticket}} </h3>
        </div>
        <button 
        (click)="cancel_ticket(event.Ticket_id)" 
        class="bg-red-600 text-white text-xl py-2 rounded-lg shadow-md hover:bg-red-700 transition duration-300 w-full text-center">
        Cancel Ticket
      </button>
      </div>
    </div>
  </div> 